<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">¿Aún no has recibido tu premio?</h1>
        <div class="row center">
          <h5 class="header col s12 light">Cada de vez que realices un pago sumas puntos y podes cambiarlo por fabulosos productos</h5>
        </div>
        <div class="row center">
          <a routerLink="catalogo" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver Catalogo</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/img/background1.jpg" alt="background img 1"></div>
</div>

<footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
        Copyright &copy; {{anio}} All rights reserved | made with <i class="tiny material-icons">favorite</i> by <a href="#" target="_blank">{{infoPaydayService.info.titulo}}</a>
        <a class="grey-text text-lighten-4 right" routerLink="catalogo">Catálogo</a>
      </div>
    </div>
</footer>
