<div class="center-align">
    <h2>Seleccione su Servicio</h2>
</div>

<div class="container">
    <div *ngFor="let serv of apiPayService.servicio" class="col s12">
        <div class="card horizontal">
        <div class="card-image">
            <img src="assets/img/factura.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3 class="header">{{serv.Nombre}}</h3>
                <p>{{serv.Descripcion}}</p>
            </div>
            <div class="card-action">
            <a routerLink="/metodos" class="waves-effect waves-light btn modal-trigger">PAGAR</a>
            </div>
        </div>
        </div>
    </div>
</div>
<li><a href="#" class="btn" (click)="onLogout()" >Logout</a></li>