  <!-- slider -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/img/slider/banner1.jpg"> 
        <div class="caption center-align">
          <h1>PayDay</h1>
          <h5 class="light grey-text text-lighten-3">La opción mas inteligente para realizar tus pagos</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/slider/banner2.jpg"> 
        <div class="caption left-align">
          <h1>Pagos online</h1>
          <h5 class="light grey-text text-lighten-3">Pago de servicios online, todas las formas de pago estan disponibles</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/slider/banner3.jpg"> 
        <div class="caption right-align">
          <h1>Productos Gratis</h1>
          <h5 class="light grey-text text-lighten-3">Te recompensamos sumando puntos cada vez que realices tus pagos</h5>
        </div>
      </li>
    </ul>
  </div>
  <!-- end slider -->

  <div class="container">
    <div class="section">
      <div class="row center">
        <h2>Como Funciona</h2>
      </div>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">account_circle</i></h2>
            <h5 class="center">Registra tu perfil</h5>
            <p class="light">Crea rapida y facilmente tu perfil de usuario y manten bajo control todo desde tu area privada.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Agregar tu factura</h5>
            <p class="light">Con PayDay puedes gestionar todas tus facturas desde un único lugar, fácil y conveniente.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">credit_card</i></h2>
            <h5 class="center">Paga en 1 click</h5>
            <p class="light">Pagar tus cuentas nunca fue tan fácil, desde donde quieras y a la hora que quieras.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="center">
    <img src="assets/img/banner100.jpg" class="banner-centro" alt="banner 1200x100">
  </div> 

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Bienvenidos</h4>
          <p class="left-align light">Somos una empresa fundada por cinco especialistas del sector IT con el apoyo de la UTU, liderada por un equipo joven con foco en la excelencia, la calidad del servicio y con aspiraciones globales.</p>
          <p class="left-align light">La seguridad es nuestra máxima prioridad. <b>PayDay</b> es un proveedor de servicios de pagos registrado y opera la licencia de IEDE otorgada por el Banco Central del Uruguay.</p>
          <p class="left-align light">Ofrecemos Atención de primer nivel, contamos con una satisfacción del 99,85% en consultas y reclamos. ¿Tenés una consulta? Escribinos a <b>hola@payday.com</b></p>
          <div class="row center">
            <a routerLink="/registro" class="btn-large waves-effect waves-light teal lighten-1">Registrarme</a>
          </div>
        </div>
        <div class="col s12 m6 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>PayDay 2020</h4>
          <img src="assets/img/imagen1.jpg" class="banner-centro" alt="banner 400x400">
        </div>
      </div>
    </div>
  </div>
