<div class="center-align">
    <h3><b>Realice su Pago aquí</b></h3>
</div>


<!-- Modal Structure -->
<!--  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Felicidades</h4>
      <p>Su pago se ha realizado exitosamente</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
<div class="container">
    <div *ngFor="let pago of apiPaySListaPago.listaPago" class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
            <img src="assets/img/tarjeta.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3 class="header">{{pago.Nombre}}</h3>
                <p>{{pago.Descripcion}}</p>
            </div>
            <div class="card-action">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">SELECCIONAR</a>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<hr>
-->
<app-pagos></app-pagos>
<li><a href="#" class="btn" (click)="onLogout()" >Logout</a></li>