<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">

        <h1 class="header center teal-text text-lighten-2">Catalogo de Productos</h1>
        <div class="row center">
          <h5 class="header col s12 light">Con tus puntos acumulados podes cambiarlos por los siguientes productos</h5>
        </div>
        <div class="row center">
          <a href="login.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Login</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background1.jpg" alt="background img 1"></div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Felicidades</h4>
      <p>Su canje se ha realizado exitosamente</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
<br>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Tablet RCA</b></span>
              <p>RCA Quadcore 1.40Ghz, 1GB, 32GB, 10.1'' Touch, Android 8.1</p>
              <p>Puntos: 100</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto2.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Ebook Kindle</b></span>
              <p>Ebook Amazon Kindle Paperwhite 2018 blanco</p>
              <p>Puntos: 150</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto3.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Smartwatch VERGE Lite</b></span>
              <p>Reloj Smartwatch Amazfit VERGE Lite. Blanco</p>
              <p>Puntos: 90</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div> 

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto4.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Playstation 4</b></span>
              <p>Consola Playstation 4 1TB Slim FIFA 20 Bundle</p>
              <p>Puntos: 500</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto5.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Impresora Epson</b></span>
              <p>Impresora Epson multifunción XP 2101 compacta con wi-fi</p>
              <p>Puntos: 120</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto6.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Parlante Sony bluetooth</b></span>
              <p>Parlante Sony bluetooth portatil rojo</p>
              <p>Puntos: 50</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto7.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Audifono JBL Tune 500</b></span>
              <p>Audifono JBL Tune 500 Bluetooth azul c/microfono</p>
              <p>Puntos: 70</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/producto8.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Teclado y Mouse</b></span>
              <p>Combo Teclado y Mouse Coolermaster MK Lite L RGB</p>
              <p>Puntos: 80</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/catalogo/productos9.jpg">
            </div>
            <div class="card-content">
              <span class="card-title"><b>Xiaomi Redmi 8A</b></span>
              <p>Smartphone Xiaomi Redmi 8A 32GB azul</p>
              <p>Puntos: 250</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Canjear</a>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
