<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light">Reenviar Contraseña</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/banner5.jpg" alt="background 3"></div>
  </div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>{{title}}</h4>
          <div class="message success" *ngIf="status == 'success'">Solicitud de Contraseña de Usuario exitoso!!!</div>
          <div class="message failed" *ngIf="status == 'failed'">Solicitud de Contraseña fallida. intenta nuevamente</div>
          <form #repassForm=ngForm (ngSubmit)="onSubmit(repassForm)" class="col s12">
            
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" name="email" #email="ngModel" [(ngModel)]="repass.email" required>
                <label for="email">Email</label>
              </div>
            </div>

            <input type="submit" class="waves-effect waves-light btn" value="Reenviar Contraseña" [disabled]="!repassForm.form.valid"/>

          </form>
        </div>
        
      </div>
    </div>
      <p>¿No estás registrado? Haz click <a routerLink="/registro"><b>aquí</b></a></p>
  </div>
