<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light">Login</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/banner5.jpg" alt="background 3"></div>
  </div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>Ingresa a tu area privada</h4>
          <!--<div class="message success" *ngIf="status == 'success'">Login de Usuario exitoso!!!</div>
          <div class="message failed" *ngIf="status == 'failed'">Solicitud de Login fallida. intenta nuevamente</div>-->
          <form #loginForm=ngForm (ngSubmit)="onSubmit(loginForm)" class="col s12">
            
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" name="email" #email="ngModel" [(ngModel)]="login.email" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate" name="password" #password="ngModel" [(ngModel)]="login.password" required>
                <label for="password">Password</label>
              </div>
            </div>

            <input type="submit" class="waves-effect waves-light btn" value="Entrar" [disabled]="!loginForm.form.valid"/>
          </form>
        </div>
        
      </div>
    </div>
      <p>¿No recuerdas tu contraseña? Haz click <a routerLink="/reenviarpass"><b>aquí</b></a><br>
      ¿No estás registrado? Haz click <a routerLink="/registro"><b>aquí</b></a></p>
  </div>
