<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light">Actualizar Contraseña</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/banner5.jpg" alt="background 3"></div>
  </div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>Actualizar Contraseña</h4>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="passwordconf" type="password" class="validate">
                <label for="passwordconf">Confirm Password</label>
              </div>
            </div>

            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Cambiar Contraseña</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Gracias por preferirnos</h4>
                <p>Su cotización se envió exitosamente!</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
      <p>¿Ya estás registrado? Haz click <a routerLink="/login"><b>aquí</b></a></p>
  </div>
