  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" routerLink="inicio" class="brand-logo"><img src="assets/img/logocs.png"></a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active" ><a routerLink="inicio" active>Inicio</a></li>
        <li routerLinkActive="active" ><a routerLink="nosotros">Nosotros</a></li>
        <li routerLinkActive="active" ><a routerLink="catalogo">Catálogo</a></li>
        <!--<li routerLinkActive="active" ><a routerLink="servicios">Servicios</a></li>
        <li routerLinkActive="active" ><a routerLink="metodos">Pagos</a></li>-->
        
        <li routerLinkActive="active" ><a routerLink="login" class="btn"><i class="material-icons left">account_circle</i>Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a routerLink="inicio"><img src="assets/img/logocs.png"></a></li>
        <li><a routerLink="inicio" >Inicio</a></li>
        <li><a routerLink="nosotros" >Nosotros</a></li>
        <li><a routerLink="catalogo" >Catálogo</a></li>
        <!--<li><a routerLink="servicios" >Servicios</a></li>
        <li><a routerLink="metodos" >Pagos</a></li>-->
        <li><a routerLink="login" class="btn" >Login</a></li>
        
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>