<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light">{{title}}</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/banner5.jpg" alt="background 3"></div>
  </div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>{{title}}</h4>
          <div class="message success" *ngIf="status == 'success'">Modificacion de Usuario exitoso!!!</div>
          <div class="message failed" *ngIf="status == 'failed'">Modificacion fallida</div>
          <form class="col s12" #modificarForm=ngForm (ngSubmit)="onSubmit(modificarForm)">
            <div class="form-group row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="usuario" class="validate" #usuario="ngModel" [(ngModel)]="modifyUser.usuario" required>
                <label for="usuario">Documento de Identidad</label>
                <span *ngIf="usuario.touched && !usuario.valid">El Usuario es obligatorio</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="nombre" class="validate" #nombre="ngModel" [(ngModel)]="modifyUser.nombre" required>
                <label for="nombre">Nombre</label>
                <span *ngIf="nombre.touched && !nombre.valid">El Nombre es obligatorio</span>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="apellido" class="validate" #apellido="ngModel" [(ngModel)]="modifyUser.apellido" required>
                <label for="apellido">Apellido</label>
                <span *ngIf="apellido.touched && !apellido.valid">El Apellido es obligatorio</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-field col s12">
                <i class="material-icons prefix">credit_card</i>
                <input type="number" name="documento" class="validate" #documento="ngModel" [(ngModel)]="modifyUser.documento" required>
                <label for="documento">Documento de Identidad</label>
                <span *ngIf="documento.touched && !documento.valid">El Documento es obligatorio</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-field col s12 m6">
                <select name="sexo" #sexo="ngModel" [(ngModel)]="modifyUser.sexo" required>
                  <option value="" disabled selected>Seleccione:</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Otro">Otro</option>
                </select>
                <label>Sexo</label>
                <span *ngIf="sexo.touched && !sexo.valid">El sexo es obligatorio</span>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input type="text" name="fechaNacimiento" class="validate" #fechaNacimiento="ngModel" [(ngModel)]="modifyUser.fechaNacimiento" required>
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <span *ngIf="fechaNacimiento.touched && !fechaNacimiento.valid">La Fecha de Nacimiento es obligatoria</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input type="email" name="email" class="validate" #email="ngModel" [(ngModel)]="modifyUser.email" required>
                <label for="email">Email</label>
                <span *ngIf="email.touched && !email.valid">El email es obligatorio</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" name="password" class="validate" #password="ngModel" [(ngModel)]="modifyUser.password" required>
                <label for="password">Password</label>
                <span *ngIf="password.touched && !password.valid">El password es obligatorio</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="text" name="activo" class="validate" #activo="ngModel" [(ngModel)]="modifyUser.activo" required>
                <label for="activo">Activo</label>
                <span *ngIf="activo.touched && !activo.valid">El estado activo/inactivo es obligatorio</span>
              </div>
            </div>

            <input type="submit" class="waves-effect waves-light btn" value="Modificar" [disabled]="!modificarForm.form.valid"/>

          </form>
        </div>
        
      </div>
    </div>
      <p>¿Ya estás registrado? Haz click <a routerLink="/login"><b>aquí</b></a></p>
  </div>

