<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">¿Quienes Somos?</h1>
        <div class="row center">
          <h5 class="header col s12 light">Somos un equipo profesional, especializado en brindarte soluciones de alta calidad al menor costo.</h5>
        </div>
        <div class="row center">
          <a href="registro.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Registrate</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="nosotros"></div>
  </div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Misión</h4>
          <p class="left-align light">Nuestra misión es facilitar el proceso de pago a personas y empresas a través de nuestra plataforma online, proporcionando una sistema seguro, rápido y confiable, además de recompensar la fidelidad de nuestros usuarios otorgandoles premios por lealtad.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>Conoce a nuestro Equipo de Profesionales</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background2.jpg" alt="equipo"></div>
  </div>
  
  <br>
<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m1">
          <div class="icon-block">
          </div>
        </div>
        <div *ngFor="let team of firebaseEquipo.equipo" class="col s12 m2">
          <div class="icon-block">
            <img [src]="team.foto" alt="foto" class="circle responsive-img">
            <h6 class="center"><b>{{team.nombre}}</b></h6>
            <p class="light center">{{team.cargo}}</p>
          </div>
        </div>
        <div class="col s12 m1">
          <div class="icon-block">
          </div>
        </div>
      </div>
    </div>
  </div>

