<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>{{title}}</h4>
          <div class="message success" *ngIf="status == 'success'">Solicitud exitosa</div>
          <div class="message failed" *ngIf="status == 'failed'">Solicitud fallida</div>
          <form class="col s12" #pagoForm=ngForm (ngSubmit)="onSubmit(pagoForm)">

            <div class="form-group row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">monetization_on</i>
                <input type="text" name="monto" class="validate" #monto="ngModel" [(ngModel)]="pago.monto" required>
                <label for="monto">Monto</label>
                <span *ngIf="monto.touched && !monto.valid">El Monto es obligatorio</span>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">payment</i>
                <input type="text" name="medioPago" class="validate" #medioPago="ngModel" [(ngModel)]="pago.medioPago" required>
                <label for="medioPago">Medio de Pago</label>
                <span *ngIf="medioPago.touched && !medioPago.valid">El Medio de Pago es obligatorio</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-field col s12">
                <i class="material-icons prefix">credit_card</i>
                <input type="text" name="moneda" class="validate" #moneda="ngModel" [(ngModel)]="pago.moneda" required>
                <label for="moneda">Moneda</label>
                <span *ngIf="moneda.touched && !moneda.valid">El Moneda es obligatorio</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">description</i>
                <input type="text" name="servicio" class="validate" #servicio="ngModel" [(ngModel)]="pago.servicio" >
                <label for="servicio">Servicio</label>
                <span *ngIf="servicio.touched && !servicio.valid">El Servicio es obligatorio</span>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="usuario" class="validate" #usuario="ngModel" [(ngModel)]="pago.usuario" >
                <label for="usuario">Usuario</label>
                <span *ngIf="usuario.touched && !usuario.valid">El Usuario es obligatorio</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">credit_card</i>
                <input type="text" name="numeroTarjeta" class="validate" #numeroTarjeta="ngModel" [(ngModel)]="pago.numeroTarjeta" required>
                <label for="numeroTarjeta">Numero de Tarjeta</label>
                <span *ngIf="numeroTarjeta.touched && !numeroTarjeta.valid">El Numero de Tarjeta es obligatorio</span>
              </div>
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">credit_card</i>
                <input type="text" name="ccv" class="validate" #ccv="ngModel" [(ngModel)]="pago.ccv" required>
                <label for="ccv">CCV</label>
                <span *ngIf="ccv.touched && !ccv.valid">El CCV es obligatorio</span>
              </div>
            </div>

            <input type="submit" class="waves-effect waves-light btn" value="Registrar" [disabled]="!pagoForm.form.valid"/>

          </form>
        </div>
        
      </div>
    </div>
  </div>

