nav ul a,
nav .brand-logo {
  color: #000000;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.banner-centro {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  height: auto;
  align-items: center;
}

form button:hover,
form input[type="submit"]:hover{
  background: rgba(53, 103, 164, 0.8);
  border: 1px solid rgba(13,67,133,1);
}
form input[disabled]{
  opacity: 0.4;
  cursor: not-allowed;
}

.form_error{
  font-size: 12px;
  padding: 3px;
  background: red;
  color: white;
  margin-bottom: 5px;
}